#enregistrer{
    -fx-background-color: #74D1FF;
    -fx-text-fill: white;
}

#enregistrer:hover{
    -fx-background-color: #2840FF;
}

#annuler:hover{
    -fx-background-color: #FF0000;
    -fx-text-fill: white;
}